body{ background: url('../assets/bg.png') #f0eadc;}
/*header img{ margin:0 auto; background-color:#fff; border:#d0c4af 1px solid; text-align:center; font-size:197%; width:200px; -moz-border-radius: 0px 0px 12px 12px; -webkit-border-radius: 0px 0px 12px 12px; border-radius: 0px 0px 12px 12px;}
article section canvas{ margin:0 auto; height:450px; width:900px;}
footer nav ul li{float:left;height:50px; list-style:none; width:20px;}
footer nav ul li.mid{float:left; height:50px; list-style:none; width:35px;}
footer nav ul li.wide{float:left;height:50px; list-style:none; width:50px;}
footer div.button {float:left; }
footer p {font-size:77%; padding-top:60px;}
footer p a{color:#976e6a;}*/